@font-face {
  font-family: 'SUITE';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/SUITE/SUITE-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/SUITE/SUITE-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/SUITE/SUITE-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/SUITE/SUITE-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/SUITE/SUITE-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/SUITE/SUITE-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/SUITE/SUITE-Heavy.woff2') format('woff2');
  font-display: swap;
}
